#root {
  width: 100%;
  text-align: center;
}
textarea:focus {
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
textarea {
  resize: none !important;
}
a{
  color: white !important;
}
img{
  width: 100%;
  height: 100%;
}
.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}
.ripple-effect {
  position: relative;
  overflow: hidden;
  color: #fff;
  padding: 1rem 2rem;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  transition: background 400ms, box-shadow 400ms ease;
  cursor: pointer;
}
.ripple-effect span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.444);
}

figure{
  background-color: #1f1f1f;
}
.image-emoji-wrapper{
  width: 7%;
}
.EmojiPickerReact{
  position: absolute !important;
  top: 0%;
  right: 100%;
  translate: -10px -50%;
  z-index: 1 !important;
}
.text-container .EmojiPickerReact{
  top: 50%;
  translate: -10px 0%;
}
.chat-conversation .message-wrapper .EmojiPickerReact{
  top: auto;
}
.link{
  color: rgb(75, 75, 255) !important;
  text-decoration: underline;
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}